<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cug.sxy.infrastructure.dao.ICarSeriesDao">

    <resultMap id="dataMap" type="cn.cug.sxy.infrastructure.dao.po.CarSeriesPO">
        <id column="id" property="id"/>
        <result column="series_code" property="seriesCode"/>
        <result column="series_name" property="seriesName"/>
        <result column="brand" property="brand"/>
        <result column="description" property="description"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, series_code, series_name, brand, description, created_time, updated_time
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="dataMap">
        select
        <include refid="Base_Column_List"/>
        from car_series
        where id = #{seriesId}
    </select>

    <select id="selectBySeriesCode" parameterType="java.lang.String" resultMap="dataMap">
        select
        <include refid="Base_Column_List"/>
        from car_series
        where series_code = #{seriesCode}
    </select>

    <select id="selectByBrand" parameterType="java.lang.String" resultMap="dataMap">
        select
        <include refid="Base_Column_List"/>
        from car_series
        where brand = #{brand}
    </select>

    <select id="selectBySeriesNameLike" parameterType="java.lang.String" resultMap="dataMap">
        select
        <include refid="Base_Column_List"/>
        from car_series
        where series_name like #{seriesNameLike}
    </select>

    <select id="selectAll" resultMap="dataMap">
        select
        <include refid="Base_Column_List"/>
        from car_series
    </select>

    <insert id="insert" parameterType="cn.cug.sxy.infrastructure.dao.po.CarSeriesPO" useGeneratedKeys="true" keyProperty="id">
        insert into car_series (series_code, series_name, brand, description,
                                created_time, updated_time)
        values (#{seriesCode}, #{seriesName}, #{brand}, #{description}, now(), now())
    </insert>

    <update id="update" parameterType="cn.cug.sxy.infrastructure.dao.po.CarSeriesPO">
        update car_series
        set series_name  = #{seriesName},
            brand        = #{brand},
            description  = #{description},
            updated_time = now()
        where id = #{seriesId}
    </update>

    <delete id="deleteBySeriesId" parameterType="java.lang.String">
        delete
        from car_series
        where id = #{seriesId}
    </delete>

</mapper>
